:root {
    --list-block-width: 200px;
}

.ListBlock {
    border: solid 3px black;
    position: relative;
    height: 300px;
    width: var(--list-block-width);
    margin-right: 20px;
    background: antiquewhite;
}

.ListTitle {

}

.ListDate {
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}