:root {
    --list-block-width: 200px;
    --list-inner-top-margin: 40px;
}

.ListBlock {
    border: solid 3px black;
    position: relative;
    height: 200px;
    width: var(--list-block-width);
    margin-right: 20px;
    background: antiquewhite;
}

.ListTitle {
    position: fixed;
}

.ListLine {
    margin-top: var(--list-inner-top-margin);
    width: var(--list-block-width);
    position: fixed;
}

.InnerIndent {
    margin-top: var(--list-inner-top-margin);
    height: 10px;
}

.ListDate {
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}