:root {
    --list-block-width: 200px;
}

.ListBlock {
    border: solid 3px black;
    position: relative;
    height: 300px;
    width: var(--list-block-width);
    margin: 30px 20px 0 0;
    background: antiquewhite;
}
.ListDate {
    height: 280px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll
}