.button {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonDefault {
    height: 50px;
    width: 100px;
    color: red;
    background-color: white;
    border: solid 5px black;
    margin: 1% 0 1% 0;
    text-align: center;
}