.button {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    border: solid 5px black;
    margin: 1% 0 1% 0;
    text-align: center;
}

.buttonDefault {
    word-wrap: normal;
    height: auto;
    width: 170px;
}

.buttonSend {
    word-wrap: normal;
    height: 60px;
    width: 170px;
    background: yellow;
}

.changeOk {
    height: 60px;
    width: 50px;
}